//Colors:
$accent1: #3744BD;
$negative-color: #E34040;
$positive-color: #62D2B1;
$progress-color: #FFCC40;
$inactive-color: #C4CACB;
$active-color: #1E1E1E;
$border-color: #E9ECF2;
$header-link-color: #ffffff;
$background_1: #F9FAFC;
$background_2: #EEF2FC;
$button-color: #F0F3F5;
$highlight-gray: #F3F5F7;
$some-color: #C4C4C4;
$tracker-active: #fcfdfe;
$interval-color:  #BBBBBB;
$drop-hover-color:#E3F3FF;
$gray2: #4F4F4F;

//Fonts
$mainFontSz: 18px;
$mainFontW: 500;
$mainLineHeight: 24px;
$mainFontWeight: normal;

//Shadows
$shadow1: 0px 15px 30px rgba(216, 226, 232, 0.12);
$shadow2: 0px 7px 15px rgba(148, 156, 160, 0.13);
$shadow3: 0px 7px 30px rgba(148, 156, 160, 0.08);